language: node_js
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s
  - export PATH="$HOME/.yarn/bin:$PATH"
install: npm install
cache:
  directories:
    - ~/.npm
    - node_modules
  yarn: true
notifications:
  email: false

   
node_js:
  - '8'
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/